.card {
  background-color: #15263f;
  width: 35rem;
  padding: 2.4rem 2.4rem 3.2rem;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
}

.image-container {
  position: relative;
}

.hero-img {
  cursor: pointer;
  opacity: 1;
  display: block;
  width: 100%;
  border-radius: 0.8rem;
  margin-bottom: 2.4rem;
  transition: .5s ease;
  backface-visibility: hidden;
}

.hover-image-div {
  cursor: pointer;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.image-container:hover {
  border-radius: 0.8rem;
  background-color: #00fff8;
}

.image-container:hover .hero-img{
  opacity: 0.5;
}

.image-container:hover .hover-image-div{
  opacity: 1;
}

.text-div h1 {
  cursor: pointer;
  font-size: 2.2rem;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 16px;
}

.text-div h1:hover {
  color: #00fff8;
}

.text-div p {
  font-size: 1.8rem;
  color: #8bacd9;
  font-weight: 300;
  margin-bottom: 2.4rem;
  line-height: 1.44;
}

.ethereum-options-div {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid #2e405a;
  margin-bottom: 2.2rem;
}

.ethereum-options-div div {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  margin-bottom: 2.4rem;
}

.ethereum-div p {
  font-size: 1.6rem;
  color: #00fff8;
  font-weight: 600;
}

.clock-div {
  font-size: 1.6rem;
  color: #8bacd9;
}

.creator-div {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.creator-div img {
  width: 3.3rem;
  height: 3.3rem;
  border: solid 1px #fff;
  border-radius: 50%;
}

.creator-div p {
  font-size: 1.6rem;
  color: #8bacd9;
}

.creator-div span {
  cursor: pointer;
  color: #ffffff;
}

.creator-div span:hover {
  color: #00fff8;
}